@model Vidly2_0.Models.Movie
@{
    ViewBag.Title = "Detail";
}

<h2>@Model.Name</h2>

<p><strong>Genre:</strong> @Model.GenreType.Name</p>
<p><strong>Date Released:</strong> @Model.ReleasedDate</p>
<p><strong>Date Added:</strong> @Model.DateAdded</p>
<p><strong>No. of Stocks:</strong> @Model.Stocks</p>

